<div class="container">
  <div class="container-center">
    <h2 class="title">Color</h2>
    <div class="container-examples">
      <btn-button>Default</btn-button>
      <btn-button color="primary">Primary</btn-button>
      <btn-button color="secondary">Secondary</btn-button>
      <btn-button color="info">Info</btn-button>
      <btn-button color="warning">Warning</btn-button>
    </div>
  </div>

  <div class="container-center">
    <h2 class="title">Sizes</h2>
    <div class="container-examples">
      <btn-button>Small</btn-button>
      <btn-button size="medium">Medium</btn-button>
      <btn-button size="large">Large</btn-button>
    </div>
  </div>

  <div class="container-center">
    <h2 class="title">Shapes</h2>
    <div class="container-examples">
      <btn-button>Squared</btn-button>
      <btn-button shape="rounded">Rounded</btn-button>
      <btn-button shape="pilled">Pilled</btn-button>
      <btn-button shape="circle">O</btn-button>
    </div>
  </div>

  <div class="container-center">
    <h2 class="title">Outlined</h2>
    <div class="container-examples">
      <btn-button outlined="outlined">Outlined</btn-button>
    </div>
  </div>
</div>
